body {
	background: url('../images/footer_lodyas.png');
	color: white;
	}

h2 {
	color: white;
}

.jumbotron {
	background: url('../images/game_on.jpg') no-repeat ;
	}
	
/* ---- Global Navigation ---- */
/* Changed default text colors and bg color for navigation */

.navbar-default {
 	background-color: #000;
  	background:black;
	border: none;
	}
	
.navbar-default .navbar-brand {
  color: #0097A0;
	}
	
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
	}
	
.navbar-default .navbar-text {
  color: #0097A0;
	}
	
.navbar-default .navbar-nav > li > a {
  color: #0097A0;
	}
	
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #5e5e5e;
  background-color: transparent;
	}
	
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0097A0;
  background-color: #e7e7e7;
	}

/* ---- Content ---- */

/* Alternated bg colors for section/articles*/
.content:nth-child(even) {
	margin-top: 5%;
	clear: both;
	background: #0097A0;
	overflow: auto;
	border-radius: 5px;
	}

.content:nth-child(odd) {
	margin-bottom: 5%;
	clear: both;
	overflow: hidden;
	}

section {
	float: left;
	width: 60%;
	}	
			
article {
	float: left;
	width: 100%;
	}
	
aside {
	float: right;
	width: 30%;
	color: #000000;
	background: #e7e7e7;
	border-radius: 5px;
	margin: 3.436426%;
	padding-bottom: 3.436426%;
	}

section, article, aside {
	padding-left: 1.030928%;
	padding-right: 1.030928%;
	}

footer {
	margin-top: 5%; 
	}

/* ---- Images ---- */
/* Setting all images in Info Gallery to fit section */
.col-md-4 img {
	max-width: 100%;
	max-height: 100%;
	}
	
/* ---- Media queries ---- */
/* Media Queries */
@media only screen
    and (max-width: 700px) {
        /* Mobile size but most likely not applicable to all mobile devices */
        
        /* Primitive Contianers */
        .container
            {width: 90%;}
        
        /* Form Elements */
        form
            {padding-bottom: 20%; /* Compensates for the submit button which is fixed in position */
            width: 90%;} /* Pull the form in a bit from the sides of the viewport */
        form > div
            {float: none ; /* Remove float */
            padding: 0; /* Clear the padding */
            width: 100%;} /* Reset the width to consume all available space */
        .card
            {margin: auto 1.2%;
            width: 14.22%;} /* We'll have three 'input' elements with this class inline with eachother */
        
        /* Input */
        input
            {border: 0.1em solid #eaeaea;
            line-height: 2em; /* Shorten input field heights */
            margin: 4% 0;}
            
        input[type="submit"]
            {background-color: #fff;
            color: #444;
            line-height: normal; /* Fixes an undesirable setting which pushes the text out of the button */
            position: fixed; /* We'll have this button at the bottom of the viewport constantly */
            bottom: 2.5%;
            left: 25%;
            right: 25%;
            z-index: 1;} /* We'll also like to have this submission button above all other elements */
        input[type="date"], input[type="file"]
            {width: 10em ;}
        input[type="color"]
            {width: 5em;}
        .submitButtonArea
            {background-color: rgba(255,255,255,0.9); /* This will mask the space around the submission button */
            position: fixed; /* Of course, we'd like to have this under the button, which is also fixed to the bottom */
            bottom: 0;
            left: 0;
            right: 0;
            height: 10%;
            width: 100%;
            z-index: 1;} /* We'll make sure this element displays above others and behind the submission button */
    }

@media only screen
    and (min-width: 700px)
    and (max-width: 1500px) {
        /* Common desktops and tablets */
        form
            {width: 100%;}

    }

@media only screen
    and (min-width: 1500px) {
        /* Larger displays */
        #wrapper
            {width: 1500px;}
            }
        
